@import "../../../../css/_mixins.scss";
@import "../../../../css/_theme-vars.scss";
@import "../../css/_skin-vars.scss";

//@mixin theme--xl() {
@media #{$media_xl} {
	/* Single post header */
	.post_header_wrap_style_style-2 .post_featured.post_featured_bg {
		height: 28rem;
	}
}

//@mixin theme--lg() {
@media #{$media_lg} {
	/* Single post header */
	.post_header_wrap_style_style-2 .post_featured.post_featured_bg {
		height: 22rem;
	}
}

//@mixin theme--md() {
@media #{$media_md} {
	/* Single post header */
	.post_header_wrap_style_style-2 .post_featured.post_featured_bg {
		height: 20rem;
	}
}

//@mixin theme--sm() {
@media #{$media_sm} {
	/* Single post header */
	.single_style_style-2 .page_content_wrap > .content_wrap {
		padding-top: 3em;
	}
	.post_header_wrap_style_style-2 .post_featured.post_featured_bg {
		height: 18rem;
	}
	.post_header_wrap_style_style-2 .post_header .post_meta_other .post_meta_item.post_author_name,
	.post_header_wrap_style_style-2 .post_header .post_meta_other .post_meta_item.post_date {
		white-space: normal;
	}
}

//@mixin theme--xs() {
@media #{$media_xs} {
    /* Single post header */
	.single_style_style-2 .page_content_wrap > .content_wrap {
		padding-top: 2em;
	}
	.post_header_wrap_style_style-2 .post_header .post_meta_other {
		margin-top: 1em;
		@include flex-wrap(wrap);
	}
	.post_header_wrap_style_style-2 .post_header .post_meta_other_part2 {
		margin-top: 0.5em;
		@include flex-justify-content(flex-start);
	}
	.post_header_wrap_style_style-2 .post_featured.post_featured_bg {
		height: 14rem;
	}
	.post_header_wrap_style_style-2 .post_header .post_meta_other .post_meta.post_meta_other_part1 {
		margin-right: 10px;
	}
}