@import "../../../../css/_mixins.scss";
@import "../../../../css/_theme-vars.scss";
@import "../../css/_skin-vars.scss";

//@mixin blog_styles_excerpt--xl() {
@media #{$media_xl} {
	.post_layout_excerpt .post_wrapper {
		padding: 3em 3.6em 3.6em;
	}
}
//@mixin blog_styles_excerpt--lg() {
@media #{$media_lg} {
	/* Blog layout: Excerpt */
	.post_layout_excerpt .post_header .post_price {
		@include font(2em, 1.5em);
	}
	.post_layout_excerpt .post_wrapper {
		padding: 2.2em 2.8em 2.8em;
	}
	.post_layout_excerpt .post_title {
		@include font(28px, 32px);
	}
	.post_layout_excerpt .post_header + .post_content .post_content_inner {
		margin-top: 1.2em;
	}
}

//@mixin blog_styles_excerpt--md() {
@media #{$media_md} {
	/* Blog layout: Excerpt */
	.post_layout_excerpt + .post_layout_excerpt {
		margin-top: 30px;
	}
	.post_layout_excerpt .post_wrapper {
		padding: 2em 2.6em 2.6em;
	}
	.post_layout_excerpt .post_title {
		@include font(24px, 28px);
	}
	.post_layout_excerpt .post_title + .post_meta {
		margin-top: 1em;
	}
	.post_layout_excerpt .post_header + .post_content .post_content_inner {
		margin-top: 1em;
	}
	.post_layout_excerpt .post_header .post_price {
		@include font(1.75em, 1.5em);
	}

}

//@mixin blog_styles_excerpt--sm() {
@media #{$media_sm} {
	/* Blog layout: Excerpt */
	.post_layout_excerpt .post_wrapper {
		padding: 1.8em 2.4em 2.4em;
	}
	.post_layout_excerpt .post_title {
		@include font(22px, 26px);
	}
	.post_layout_excerpt.post_format_gallery .slider_pagination_wrap {
		display: block;
	}
	.post_layout_excerpt.post_format_gallery .slider_controls_wrap {
		display: none;
	}
	.post_layout_excerpt .post_header .post_price {
		position:static;
		right: auto;
		top: auto;
		margin-top:0.3em;
	}

}
//@mixin blog_styles_excerpt--xs() {
@media #{$media_xs} {
	/* Blog layout: Excerpt */
	.post_layout_excerpt .post_wrapper {
		padding: 1.6em 2em 2em;
	}
	.post_layout_excerpt .post_title {
		@include font(20px, 24px);
	}
}